<% content_for :head do %>
  <%= javascript_import_module_tag "event_show" %>
<% end %>

<%= render @event %>

<% user_is_organizer = current_user.id == @event.organizer_id %>
<% attendee_ids = @attendees.map { |a| a.id.to_i } %>
<% user_is_attendee = current_user.id.to_i.in? attendee_ids %>

<% private_rsvp_delete_other_confirm = "Are you sure you want to remove this attendee from the event? "%>
<% private_rsvp_delete_self_confirm = "Are you sure you want to remove yourself from the attendees for this event? If you change your mind, you will need to be added to this event again, either by invitation or by request." %>
<% public_rsvp_delete_self_confirm = "Are you sure you want to remove yourself from the attendees for this event? If you change your mind, you can RSVP again at any time." %>

<% link_request = link_to "Request to join",
  event_request_path(event_id: @event.id, user_id: current_user.id),
  data: { 
    turbo_method: :post, 
    turbo_confirm: "Are you sure you want to request to join #{@event.title}" 
  }
%>

<% if @event.is_private %>
  <% rsvp_delete_self_confirm = private_rsvp_delete_self_confirm %>
<% else %>
  <% rsvp_delete_self_confirm = public_rsvp_delete_self_confirm %>
<% end %>
  
<% if user_is_organizer %>
  <%= link_to "Edit", edit_event_path %>
  <%= link_to "Delete", @event, 
    data: { 
      turbo_method: :delete, 
      turbo_confirm: "Are you sure you want to delete this event? All attendees will be notified!" 
    } 
  %>
  <% if @event.is_private %>
    <%= link_to "Invite", "https://example.com/", target: '_blank' %>
  <% end %>
<% elsif ! user_is_attendee %>
  <% if @event.is_private %>
    <% if EventRequest.where(user_id: current_user.id, event_id: @event.id).any? %>
      <span>You have requested to join this event - but you can 
        <%= link_to "cancel your request", event_request_path(event_id: @event.id, user_id: current_user.id), data: {turbo_method: "delete", turbo_confirm: "If you cancel your request to join this event, you will have to submit a new request later if you change your mind - and you will move to the bottom of the queue. Are you sure you want to cancel your request?"} %> 
        at any time.
      </span>
    <% else %>
      <%= link_request %>
    <% end %>
  <% else %>
    <%= link_to "RSVP", 
      event_rsvp_path(event_id: @event.id, user_id: current_user.id), 
      data: { 
        turbo_method: :post, 
        turbo_confirm: "Are you sure you want to RSVP for this event? You can change your mind at any time." 
      } 
    %>
  <% end %>
<% else %>
  <span>You've RSVP'ed for this event.</span>
  <%= link_to "Undo",
    event_rsvp_path(event_id: @event.id, user_id: current_user.id), 
    data: {
      turbo_method: "DELETE", 
      turbo_confirm: rsvp_delete_self_confirm
    }
  %>
<% end %>

<% if !@event.is_private || user_is_organizer || user_is_attendee %>
  <h4><%= @attendees.count %> people attending</h4>
  <ul>
    <% @attendees.each do |attendee| %>
      <li>
        <%= attendee.username %>
        <% if user_is_organizer && @event.is_private %>
          <%= link_to "Remove", 
            event_rsvp_path(event_id: @event.id, user_id: attendee.id), 
            data: {
              turbo_method: "DELETE", 
              turbo_confirm: "Are you sure you wish to remove this attendee? They will not be able to RSVP again without an approved request or an invitation"
            }
          %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h4>Attendees are hidden - you must be invited to join!</h4>
  <h4>Alternatively, you could <%= link_request %>!</h4>
<% end %>

<% if @event.is_private && user_is_organizer %>
  <!-- Requests -->
  <% requests = EventRequest.where(event_id: @event.id) %>
  <h4><%= requests.count %> outstanding requests</h4>
  <ul>
    <%= render requests %>
  </ul>
  <!-- Invitations -->
  <% invitations = EventInvitation.where(event_id: @event.id) %>
  <h4><%= invitations.count %> outstanding invitations</h4>
  <ul>
    <%= render invitations %>
  </ul>

  <h4>Invite somebody new to your event</h4>
  <!-- In a real-world application, we would never pull an ENTIRE table & display it on-screen
    This is just a proof-of-concept for filtering through a list -->
  <% all_users = User.all %>
  <input type="text" id="user_invitation_search_bar" placeholder="Search for a user...">
  <ul id="user_invitation_search_list">
    <% for user in all_users %>
      <li>
        <%= 
          link_to user.username, event_invitation_path(event_id: @event.id, user_id: user.id),
            data: { turbo_method: "POST", turbo_confirm: "Are you sure you want to invite #{user.username} to #{@event.title}?" }
        %>
      </li>
    <% end %>
  </ul>
<% end %>

